<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">

    <div>
        <%= f.label :palavra, style: "display: block" %>
        <%= f.text_field :palavra %>
    </div>

    <button type="button" data-action="nested-form#remove">
        Remove Keyword
    </button>

    <%= f.hidden_field :_destroy %>
</div>